[Unit]
Description=torspider-frontend

[Service]
User=torspider
WorkingDirectory=REPLACE_THE_PATH
ExecStart=/bin/bash -c '/usr/bin/python3 REPLACE_THE_PATH/frontend_manage.py run > /dev/null 2>&1'
Restart=always

[Install]
WantedBy=multi-user.target
