{% from "macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block assets %}
            {% include "assets.html" %}

        {% endblock %}
        {% block scripts %}
            {% include "scripts.html" %}
        {% endblock %}
    {% endblock %}
</head>
<body>
{% block body %}
    {% include "flash_messages.html" %}
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-heading" href="">TorSpider</a>

            <ul class="pure-menu-list">
                {{ nav_link('index', 'Home', 'fa-home') }}
                {% if not current_user.is_authenticated %}
                    {{ nav_link('register', 'Register', 'fa-briefcase') }}
                {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" id="menuLink1" class="pure-menu-link"><i
                                class="fas fa-user-secret"></i> {{ current_user.username }}</a>
                        <ul class="pure-menu-children">
                            {{ nav_link('change_password', 'Regenerate Password', 'fa-key') }}
                        </ul>
                    </li>
                    {{ nav_link('nodes', 'Manage Nodes', 'fa-cube') }}
                    {% if current_user.check_role() >= 10 %}
                        {{ nav_link('invites', 'Manage Invites', 'fa-user-plus') }}
                        {{ nav_link('users', 'Manage Users', 'fa-users') }}
                    {% endif %}
                    {{ nav_link('logout', 'Log Out', 'fa-sign-out-alt') }}
                {% else %}
                    {{ nav_link('login', 'Log In', 'fa-sign-in-alt') }}
                {% endif %}
            </ul>
        </div>
    </div>
    {% block content %}

    {% endblock %}
    {% if request.url_rule.endpoint == 'index' %}
        {% block splash %}
        {% endblock %}
        {% block lowercontent %}
        {% endblock %}
        
    {% endif %}
{% endblock %}
</body>
</html>
