{% extends "base.html" %}
{% block splash %}
    <div class="splash-container">
        <div class="splash">
            <h1 class="splash-head">TorSpider</h1>
            <p class="splash-subhead">
                An open-source crowdsourcing initiative to map the tor onion.
            </p>
        </div>
    </div>
{% endblock %}

{% block lowercontent %}
    <div class="content-wrapper">
        <div class="content">

            <h2 class="content-head is-center">Open-Source and Community Supported.</h2>

            <div class="pure-g">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                    <h3 class="content-subhead">
                        <i class="fas fa-github"></i>
                        Open Source
                    </h3>
                    <p>
                        The TorSpider spiders, the backend API, and the frontend web services are all open-source.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fas fa-hand-spock"></i>
                        Community Supported
                    </h3>
                    <p>
                        TorSpider is supported by the community.  We are an open initiative where members can contribute 
                        their computing resources as spiders or donations to help fund infrastructure.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fas fa-cogs"></i>
                        Flexible Architecture
                    </h3>
                    <p>
                        TorSpider was built to grow as the community matures.  With a back-end API used by both the 
                        spiders and the front-end website, we can upgrade, scale, and replace parts as needed.
                    </p>
                </div>
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                    <h3 class="content-subhead">
                        <i class="fas fa-code-branch"></i>
                        Contribute
                    </h3>
                    <p>
                        Want to join the team?  Check us out on  
                        <a href="https://github.com/TorSpider">GitHub</a>.
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}