{% extends "base.html" %}
{% block content %}
    {% if success_data %}
        <div class="normal-content">
            <div class="normal-content">
                <h3>User created successfully!</h3><br/>
                <b>Username: {{ success_data.get('username') }}</b><br/>
                <b>Password: {{ success_data.get('password') }}</b><br/>
                <small>Please note, we do not allow self-generation of passwords for security reasons.</small>
            </div>
        </div>
    {% else %}
        <div class="formarea">
            <form class="pure-form pure-form-stacked" method="POST" action="{{ url_for('register') }}">
                <fieldset>
                    {{ form.csrf_token }}
                    {{ form.username.label }} {{ form.username(size=20) }}
                    {{ form.invitecode.label }} {{ form.invitecode(size=36) }}
                    <input type="submit" class="pure-button" value="Register">
                </fieldset>
            </form>
        </div>
    {% endif %}

{% endblock %}